// .game-play {
//   width: 770px;
//   padding: 213px 15px 0;
//   margin: 0 auto;
//   text-align: center;
// }

.game-play-header {
  display: flex;
  align-items: center;
}

.game-play-header__left-side {
  .game-play-header__title {
    font-size: 30px;
    color: white;
    border: 4px solid white;
    padding: .5rem 1rem;
  }

  .game-play-header__score-box {
    display: flex;
    align-items: center;
  }
}

.game-play-header__score-box__title {
  font-size: 30px;
  background: white;
  color: $bg-body;
  padding: .5rem 1rem;
  margin-bottom: 0px;
}

.game-play-header__score-box__score {
  font-size: 44px;
  margin-left: 8px;
  line-height: 0;
}

.game-play-header__time {
  font-size: 96px;
  color: white;
  margin-left: auto;
  font-style: italic;
}

.game-play-question {
  margin-top: 104px;
  display: flex;
  
  align-items: center;
  .game-play-question__num {
    font-size: 112px;
    padding: 0;  

  }

  .game-play-question__operation {
    color: white;
    font-size: 112px;
  }
}

.game-play-question__input-box {
  margin-left: 30px;

  .game-play-question__input {
    width: 255px;
    font-size: 80px;
    text-align: center;
    color: black;
  }

  .game-play-question__hint {
    font-size: 24px;
    color: white;
  }
}