.game-start {
  width: 770px;
  padding: 199px 15px 0;
  margin: 0 auto;
  text-align: center;
}

.game-start-title {
  display: flex;
  justify-content: center;
  align-items: center;

  &__number {
    font-size: 200px;
    color: white;
    text-shadow: 15px 0px #000000;
  }
}

.game-start-title__subtitle {
  font-size: 80px;
  color: black;
  flex: 1;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.game-start-title__symbol-box {
  color: white;
  font-size: 44px;
  align-self: center;
  border-bottom: 2px solid white;
  position: relative;

  &::after {
    content: '';
    border-bottom: 2px solid white;
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
  }
}
